*.mex*
*.o
*.obj

knnT
localdefs.mk
spkTest
spkTest_cpp
tSNETest_cpp
spkTSNETest_cpp
ssimsProjTest_cpp
spkTSNETest
doc/html
doc/latex
ssimsProjTest
tSNETest
distribution
spikeWindowComparisonTest
libs/
build/
source_distribution/

SSIMS_test
spikeTrain_test
SSIMS_demo_center_out.mp4
